docs/n8n/orbit-ia-relatorio.json
{
  "name": "Orbit IA — Relatório do dono",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "Agendar_di_rio_08h_",
      "name": "Agendar (diário 08h)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://receptaorbit-production.up.railway.app/api/internal/ia/report/pending?days=7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        220,
        0
      ],
      "id": "GET_m_tricas_pendentes",
      "name": "GET métricas pendentes",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Orbit IA x-ia-secret"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// 1 item por farmácia + corpo da chamada ao Claude (narrativa).\nconst SYSTEM = \"Você escreve um resumo executivo curto (2 a 4 frases, em pt-BR) para o DONO de uma farmácia, comparando as vendas com o volume de conversas do período. Seja direto e prático; destaque a taxa de conversão e o faturamento. Responda apenas com o texto do resumo, sem markdown.\";\nconst MODEL = \"claude-sonnet-5\";\nconst data = $input.first().json;\nconst reports = Array.isArray(data.reports) ? data.reports : [];\nreturn reports.map((r) => {\n  const reais = (r.salesValueCents / 100).toFixed(2);\n  const conv = Math.round((r.conversionRate || 0) * 100);\n  const userContent =\n    'Farmácia: ' + r.tradeName + '. Período: ' + r.periodStart + ' a ' + r.periodEnd + '. ' +\n    'Conversas: ' + r.conversationCount + '. Vendas identificadas: ' + r.salesCount + '. ' +\n    'Faturamento estimado: R$ ' + reais + '. Taxa de conversão: ' + conv + '%.';\n  return {\n    json: {\n      meta: r,\n      model: MODEL,\n      body: {\n        model: MODEL,\n        max_tokens: 400,\n        system: SYSTEM,\n        messages: [{ role: 'user', content: userContent }],\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "Preparar_relat_rios",
      "name": "Preparar relatórios"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        660,
        0
      ],
      "id": "Claude_narrativa",
      "name": "Claude — narrativa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic x-api-key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Junta a narrativa do Claude com o snapshot e monta o corpo do POST (1 por farmácia).\nconst responses = $input.all();\nconst metas = $('Preparar relatórios').all();\nreturn responses.map((r, i) => {\n  const m = metas[i].json.meta;\n  let narrative = '';\n  try { narrative = String(r.json.content[0].text || '').trim(); } catch (e) {}\n  if (!narrative) narrative = 'Resumo indisponível neste período.';\n  return {\n    json: {\n      pharmacyId: m.pharmacyId,\n      periodStart: m.periodStart,\n      periodEnd: m.periodEnd,\n      narrative: narrative.slice(0, 4000),\n      salesCount: m.salesCount,\n      salesValueCents: m.salesValueCents,\n      conversationCount: m.conversationCount,\n      conversionRate: m.conversionRate,\n      model: metas[i].json.model,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "Montar_corpo_do_relat_rio",
      "name": "Montar corpo do relatório"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://receptaorbit-production.up.railway.app/api/internal/ia/report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1100,
        0
      ],
      "id": "POST_relat_rio",
      "name": "POST relatório",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Orbit IA x-ia-secret"
        }
      }
    }
  ],
  "connections": {
    "Agendar (diário 08h)": {
      "main": [
        [
          {
            "node": "GET métricas pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET métricas pendentes": {
      "main": [
        [
          {
            "node": "Preparar relatórios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar relatórios": {
      "main": [
        [
          {
            "node": "Claude — narrativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — narrativa": {
      "main": [
        [
          {
            "node": "Montar corpo do relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar corpo do relatório": {
      "main": [
        [
          {
            "node": "POST relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}